
  <div class="my-3">
    <%= link_to user_path(user) do %>
      <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", size:'100x100' %>
    <% end %>
  </div>
  <table class="table">
    <tbody>
      <tr>
        <td>ユーザー名</td>
        <td><%= user.name %></td>
      </tr>
      <tr>
        <td>好きな作品</td>
        <td><%= user.introduction %></td>
      </tr>
      <tr>
        <td>follows</td>
        <td></td>
      </tr>
      <tr>
        <td>followers</td>
        <td></td>
      </tr>
      <tr>
        <td>尊い投稿</td>
        <td>
          <%= link_to likes_user_path(@user) do %>
            <%= user.like_posts.count %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>

  <%= link_to edit_user_path(user) ,class: "btn btn-outline-secondary" do %>
    <i class="fas fa-user-cog"></i>
  <% end %>